<footer class="footer-area" style="color: white; background: #212529;" id="footer">
    <div class="container">
        <div class="">
            <div class="site-logo text-center py-4">
                <a href=""><img
                        src="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/iPortfolio%2Flogo.jpg?alt=media&token=cff70cbd-7774-41b5-ad62-adf6c52a3ab0"
                        alt="logo" width="20" height="20"></a>
            </div>

            <div class="copyrights text-center">
                <p class="para">
                    Copyright ©2021 All rights reserved | This template is made by
                    <a href=""><span style="color: var(--primary-color);">Rohit</span></a>
                </p>
            </div>
        </div>
    </div>
</footer>