<footer class="footer-area" style="color: white; background: #212529;">
    <div class="container">
        <div class="">
            <div class="site-logo text-center py-4">
                <a href="#"><img src="../../../assets/img/portfolio/logo.jpg " alt="logo" width="20" height="20"></a>
            </div>
            
            <div class="copyrights text-center">
                <p class="para">
                    Copyright ©2021 All rights reserved | This template is made by
                    <a href="#"><span style="color: var(--primary-color);">Rohit</span></a>
                </p>
            </div>
        </div>
    </div>
</footer>
