<footer class="footer-area" style="color: white; background: #212529;">
    <div class="container">
        <div class="">
            <div class="site-logo text-center py-4">
                <a href="#"><img src="./img/logo.png" alt="logo"></a>
            </div>
            <div class="social text-center">
                <h5 class="text-uppercase">Follow me</h5>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="copyrights text-center">
                <p class="para">
                    Copyright ©2019 All rights reserved | This template is made with by
                    <a href="#"><span style="color: var(--primary-color);">Daily Tuition</span></a>
                </p>
            </div>
        </div>
    </div>
</footer>
