<section id="home" class="your-div">
    <div>
      <span>
         <blockquote class="blockquote text-center p-5" style="font-weight: 700; color: white; font-size: xx-large; text-align: center; " data-aos="zoom-in">
            <p class="mb-0">Sports wear are Avaliable</p>
          </blockquote>
      </span>
   </div>
  </section>




  <div id="carouselExampleInterval" class="carousel slide h-50 p-5" data-bs-ride="carousel" style="background-color: rgb(125, 133, 84);">
   <div class="carousel-inner  p-5">
     <div class="carousel-item active " data-bs-interval="2000">
       <img src="https://m.media-amazon.com/images/I/71ZCE+KNJWS._AC_UL480_FMwebp_QL65_.jpg" class="d-block  img-thumbnail rounded mx-auto " alt="...">
       <div class="d-flex align-items-sm-center flex-column" >
         <h5>Weight Lifting Gloves</h5>
         <p>Sportneer Gym Gloves, Padded Weight Lifting Gloves,Workout Gloves with Built-in 19" Wrist Wraps, Exercise Gloves for Cross Training, Pull Ups, Fitness, Powerlifting, for Men & Women</p>
       </div>
     </div>
     <div class="carousel-item" data-bs-interval="1000">
       <img src="https://m.media-amazon.com/images/I/51BipDnNkrL._AC_UL480_FMwebp_QL65_.jpg" class="d-block img-thumbnail rounded mx-auto d-block" alt="...">
       <div class="d-flex align-items-sm-center flex-column">
         <h5>Kobo Leather Fitness Gloves</h5>
         <p>Exercise Gloves for Cross Training, Pull Ups, Fitness, Powerlifting, for Men & Women</p>
       </div>
     </div>
     <div class="carousel-item" data-bs-interval="500">
       <img src="https://m.media-amazon.com/images/I/61mskiM0GyL._AC_UL480_QL65_.jpg" class="d-block  img-thumbnail rounded mx-auto d-block" alt="...">
       <div class="d-flex align-items-sm-center flex-column">
         <h5>Gym Supporter For Men</h5>
         <p>Best in Class Sports and Fitness Abdominal Supporter</p>
       </div>
     </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div>



 <section class="overflow-hidden" style="width: 100%; height: auto; background-color: #f1f1f1; padding-bottom: 40px;">
   <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img
               src="https://m.media-amazon.com/images/I/81YALaEVsXL._AC_UL480_FMwebp_QL65_.jpg"
               class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
               <h5 class="card-title">Weight Lifting</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">Last updated 3 mins ago</small>
            </div>
         </div>
      </div>
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img
               src="https://m.media-amazon.com/images/I/71PBkDoi1JS._AC_UL480_FMwebp_QL65_.jpg"
               class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Gloves</h5>
               <p class="card-text">This is a short card.</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">Last updated 3 mins ago</small>
            </div>
         </div>
      </div>
      <div class="col p-5 ">
         <div class="card h-100 border-dark" >
            <img
               src="https://m.media-amazon.com/images/I/61aMRBdRXLL._AC_UL480_QL65_.jpg"
               class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Gym Bagpack</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
            </div>
            <div class="card-footer text-white bg-dark">
               <small class="">Last updated 3 mins ago</small>
            </div>
         </div>
      </div>
   </div>

   <app-marque></app-marque>
</section>



  <app-footer></app-footer>