<section style="width: 100%; height: auto;" id="projects">
    <div class="container">
        <h2 class="container py-5" style="color: rgb(255, 255, 255); text-align: center; font-weight: 900;">Moblie Service Will Be Provided</h2>


        <div class="row row-cols-1 row-cols-md-2 py-5">
            <div class="col mb-4">
                <h1 class="card-title" style="color: rgb(255, 255, 255); text-align: center; font-weight: 900;">Soon Launching The Asquare Gym App</h1>
                        <p class="card-text p-4 mx-2" style="color: white;">GET ACCESS TO WORKOUT VIDEOS BY INTERNATIONAL FITNESS TRAINERS
            </div>

            <div class="col mb-4 p-3">
                <a class=""  target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/googleplay/googleplay-button1.png"></a> <br>
                <a class=""  target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none" ><img src="https://www.niftybuttons.com/itunes/itunesbutton1.png" class="pt-4"></a>
                  
                  
            </div>
        </div>
    </div>



</section>