<section style="width: 100%; height: 150vh; background: #1A202C;">
    <div class="container">
        <h1 class="container py-5" style="color: white;">Projects</h1>


        <div class="row row-cols-1 row-cols-md-2 py-5">

            <div class="col mb-4">
                <div class="card" style="width: 32rem;">
                    <img src="https://i.ytimg.com/vi/BDdabAsMNYY/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA_5n8TzBduCkGMcS1zLemcWpS9WQ" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Custom Portfolio Website</h5>
                        <p class="card-text">Its my portfolio that i have made this in my 2nd year of Btech, I use the oncept of advance CSS/ Javascript/ GSAP and many other libraries for design
                            <button type="button" class="btn btn-secondary btn-sm">Source Code&gt;&gt;</button></p>
                            
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: 32rem;">
                    <img src="https://i.ytimg.com/vi/BDdabAsMNYY/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA_5n8TzBduCkGMcS1zLemcWpS9WQ" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Video Calling App</h5>
                        <p class="card-text">I have made a Best Video Calling App which provides all the features that another best video calling apps are providing using simple java, Firebase thats it.
                            <button type="button" class="btn btn-secondary btn-sm">Source Code&gt;&gt;</button></p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: 32rem;">
                    <img src="https://i.ytimg.com/vi/BDdabAsMNYY/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA_5n8TzBduCkGMcS1zLemcWpS9WQ" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Photo Editing App</h5>
                        <p class="card-text">A Simple light weighted User interactive photo editing app. Many Filters are available which will enhance the quality of your photo. Different types of frames...
                            <button type="button" class="btn btn-secondary btn-sm">Source Code&gt;&gt;</button></p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: 32rem;">
                    <img src="https://i.ytimg.com/vi/BDdabAsMNYY/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA_5n8TzBduCkGMcS1zLemcWpS9WQ" class="card-img-top" alt="..." >
                    <div class="card-body">
                        <h5 class="card-title">Corona Tracker Using Python</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.  is a longer card with supporting text be
                            <button type="button" class="btn btn-secondary btn-sm">Source Code&gt;&gt;</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>