<section style="width: 100%; height: auto; background: #1A202C;" id="projects">
    <div class="container">
        <h1 class="container py-5" style="color: white; text-align: center;">Projects</h1>


        <div class="row row-cols-1 row-cols-md-2 py-5">

            <div class="col mb-4">
                <div class="card" style=" width: auto; background: #505357; color: white;" data-aos="flip-up">
                    <img src="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/iPortfolio%2Fportfolio.png?alt=media&token=5a934c01-2c7d-48d6-90b3-584475bbef01" class="card-img-top" alt="..." height="250"
                        width="250">
                    <div class="card-body">
                        <h5 class="card-title">Custom Portfolio Website</h5>
                        <p class="card-text">Its my portfolio that i have made this in my 2nd year of Btech, I use the oncept of advance CSS/ Javascript/ GSAP and many other libraries for design for design<button type="button" class="btn btn-secondary btn-sm">
                                <a href="https://github.com/Rohit4997/iPortfo/tree/master/iPortfolio"
                                    style="color:white; text-decoration: none;">Source Code&gt;&gt;</a></button>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: auto; background: #505357; color: white;" data-aos="flip-down">
                    <img src="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/iPortfolio%2Fvideo.jpg?alt=media&token=d4b99135-2455-4d7b-a422-6d7e350d4fde" class="card-img-top" alt="..." height="250"
                        width="250">
                    <div class="card-body">
                        <h5 class="card-title">Video Calling App</h5>
                        <p class="card-text">I have made a Best Video Calling App which provides all the features that another best video calling apps are providing using simple java, Firebase thats it.<button type="button" class="btn btn-secondary btn-sm ">
                                <a href="https://github.com/Rohit4997/iPortfo/tree/master/iPortfolio"
                                    style="color:white; text-decoration: none;">Source Code&gt;&gt;</a></button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: auto; background: #505357; color: white;" data-aos="flip-up">
                    <img src="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/iPortfolio%2FPhotoEditor.jpg?alt=media&token=b9396c74-2670-4027-9df4-ab92d7ca8f44" class="card-img-top" alt="..." height="250"
                        width="250">
                    <div class="card-body">
                        <h5 class="card-title">Photo Editing App</h5>
                        <p class="card-text">A Simple light weighted User interactive photo editing app. Many Filters are available which will enhance the quality of your photo. Different types of frames<button type="button" class="btn btn-secondary btn-sm ">
                                <a href="https://github.com/Rohit4997/iPortfo/tree/master/iPortfolio"
                                    style="color:white; text-decoration: none;">Source Code&gt;&gt;</a></button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: auto; background: #505357; color: white;" data-aos="flip-down">
                    <img src="https://i.ytimg.com/vi/BDdabAsMNYY/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA_5n8TzBduCkGMcS1zLemcWpS9WQ"
                        class="card-img-top" alt="..." height="250" width="250">
                    <div class="card-body">
                        <h5 class="card-title">Corona Tracker Using Python</h5>
                        <p class="card-text">This is a Desktop application made by python and tkinter. Firstly it asks some questions then on the basis of those, it tells you that you may be infected or not. Also it shows active and recovered cases in India. <button type="button" class="btn btn-secondary btn-sm ">
                                <a href="https://github.com/Rohit4997/iPortfo/tree/master/iPortfolio"
                                    style="color:white; text-decoration: none;">Source Code&gt;&gt;</a></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>