<section id="home" class="your-div">
   <div>
      <span>
         <blockquote class="blockquote text-center p-5"
            style="font-weight: 700; color: white; font-size: xx-large; text-align: center; " data-aos="zoom-in">
            <p class="mb-0">Best Quality In Less Fee</p>
         </blockquote>
      </span>
   </div>
</section>

<section class="w-auto overflow-hidden" style="background: rgb(69, 68, 75); height: auto;  color: white;border-radius: 1rem;">
   <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
      <div class="col">
         <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-body text-dark">
               <div class="spinner-grow spinner-border float-end text-danger" role="status">
                </div>
               <h5 class="card-title">Without Cardio </h5>
               
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
            </div>
            <div class="card-header bg-dark">Rs. 1000/-</div>
         </div>
      </div>
      <div class="col">
         <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-body text-dark">
               <h5 class="card-title">Cardio With Strength</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
            </div>
            <div class="card-header bg-dark">Rs. 1500/-</div>
         </div>
      </div>
      <div class="col">
         <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-body text-dark">
               <h5 class="card-title">Diet Guide</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
            </div>
            <div class="card-header bg-dark">Rs. 200 /-</div>
         </div>
      </div>
      <div class="col">
         <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-body text-dark">
               <h5 class="card-title">Suppliment Guide</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
            </div>
            <div class="card-header bg-dark">Rs. 500/-</div>
         </div>
      </div>
      <div class="col">
         <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-body text-dark">
               <div class="spinner-grow spinner-border float-end text-danger" role="status">
               </div>
               <h5 class="card-title">Personal Training</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
            </div>
            <div class="card-header bg-dark">Rs. 2000/-</div>
         </div>
      </div>
      <div class="col">
         <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-body text-dark">
               <h5 class="card-title">Gym T-Shirt</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
            </div>
            <div class="card-header bg-dark">Rs. 300/-</div>
         </div>
      </div>
   </div>
   <app-marque></app-marque>
</section>

<app-footer></app-footer>