<section
    style="width: 100%; height: auto; background-color: #e4e6e9; padding-bottom: 40px;"
    id="contact">
    <div class="container pt-5 " style="color: rgb(80, 78, 78);">
        <!-- <h1 class="text-center py-5" style="color: white;">Contact Us</h1> -->
        <div class="row">
            <div class="col p-3 mx-5" data-aos="zoom-in-right" id="my-contact">

                <p style="margin-left: 15px; font-weight: 800;" class="p-3">
                    Sometimes, no matter how important your goals are to you, it's a struggle to bring your best effort to your gym session (or work up the motivation to make it happen at all).<br> But whether you're trying to lose weight, train for a race, keep your stress in check, or any of the other worthwhile reasons to make fitness a part of your life, staying consistent is key, even when you really, really, really don't feel like it. When you're struggling to remember why it's worth all the effort, these 14 fitness quotes will give you the push you need. 




                </p>
                <!-- <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_9unpvaft.json"
                        background="transparent" speed="1" style="width: 300px; height: 300px;" loop controls autoplay>
                    </lottie-player> -->
            </div>
            <div class="col  p-3" id="contact-form" data-aos="zoom-in-left">
                <iframe width="auto" height="315" src="https://www.youtube.com/embed/oyGL591b_0Q"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>