#anm{
    animation: text 3s 1;
}
@keyframes text{
    30%{
        margin-bottom: -40px;
       padding-bottom: 40px;
    }
    /* 30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    } */
    50%{
        letter-spacing: 8px;
        margin-bottom: -40px;
        padding-bottom: 40px;
    }

}
/* 
.your-div {
    position: relative;
} */

.your-div div {
    position: absolute;
    bottom: 0;
    right: 0;
    
   
}


#home{
    width:100%; 
    height: 80vh; 
    background-image: url(https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/gym%2Fcover.jpg?alt=media&token=f8cf2769-72fb-444a-982e-7e0683e43e24);
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
   background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
}

#intro-text{
    color: white; 
    width: 70%; 
    height: auto;
    padding-top: 50px;
    margin-left: 50px;
}

.heading{
    font-size: 2rem;
}

#usr-img{
    height: auto; width: 70%; text-align: right;
    padding-top: 50px;
}

.emoji{
    animation: 4s shake infinite alternate;
}

.salutation{
    position : absolute;
    bottom   : 0;
    text-align: center;
    color: rgb(58, 57, 57);
    justify-items: center;
}

@keyframes shake{
    0%{transform: skewX(-15deg);}
    5%{transform: skewX(15deg);}
    10%{transform: skewX(-15deg);}
    15%{transform: skewX(15deg);}
    20%{transform: skewX(0deg);}
    30%{transform: skewX(-15deg);}
    40%{transform: skewX(15deg);}
    50%{transform: skewX(-15deg);}
    60%{transform: skewX(0deg);}
    70%{transform: skewX(-15deg);}
    80%{transform: skewX(15deg);}
    90%{transform: skewX(-15deg);}
    100%{transform: skewX(0deg);}
}



/* .wrapper{
    display: inline-flex;
    height: 107%;
} */
/* .wrapper .static-text{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    
} */
.wrapper .dynamic-texts{
    height: 44px;
    line-height: 44px;
    overflow: hidden;
}
.dynamic-texts li{
    color: #fff;
    list-style: none;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 15s steps(5) infinite;
}
@keyframes slide{
    100%{
        top: -220px;
    }
}
.dynamic-texts li span{
    position: relative;
}
.dynamic-texts li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 107%;
    width: 107%;
    background: transparent;
    border-left: 2px solid ;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing{
    40%, 60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}

@media only screen and (max-width:1400px) {
    #home #intro-text{
        font-size: calc(14px+1vw);
    }}
    @media only screen and (max-width:768px) {
        #intro-text{
            width: 100%;
            
        }
        #usr-img{
            width: 100%;
            text-align: center;
            
        }
        body{
            background-color: chartreuse;
        }
    }
  /* @media only screen and (min-width: 300px) and (max-width:500px) {
    #home {
        background: blue;
    }
    .heading{
        font-size: 2rem;
    }
    #intro-text{
        width: 100%; 
    }

}
  @media (min-width: 500px) and (max-width:800px) {
    #home {
        background: yellow;
    }}
  @media (min-width: 800px) {
    #home {
        background: green;
    }
  } */