<section id="home">

    <div class="container row">

        <div class="container col" data-aos="fade-right" id="intro-text">
            <div class="  ">
                <div class="heading">
                    Hi <div class="heading emoji">👋</div> I Am <br>
                    Rohit Kumar Dhaker
                </div>
                <div class="wrapper ">
                    <!-- <div class="static-text">I'm a</div> -->
                    <div class="dynamic-texts heading">
                        <li><span>Frontend Developer</span></li>
                        <li><span>Programmer</span></li>
                        <li><span>Android Developer</span></li>
                        <li><span>Designer</span></li>
                        <li><span>Freelancer</span></li>
                    </div>
                </div>
                <h5 class="">
                    Intermediate at - ReactJs,Android Studio, Firebase.<br>Love to play with DOMS.<br>
                    Student & Freelancer.
                </h5>
            </div>

            <div>
                <button type="button " class="btn btn-primary mx-3 my-3" (click)="toContact()">Hire Me</button>
                <button type="button" class="btn btn-primary mx-3">
                    <a href="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/iPortfolio%2FResume6.pdf?alt=media&token=a3b78007-6db8-4259-8a21-c1734253ee2c"
                        style="color:white; text-decoration: none; ">Resume</a></button>
            </div>
        </div>


        <div class="col p-5 " data-aos="fade-in" id="usr-img">
            <img class="" src="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/iPortfolio%2Fresizeimage.jpg?alt=media&token=983baa0e-fb3a-4c25-88ae-dd79a5a23dff" alt="" width="" height="275"
                style="border-radius: 50%;">
        </div>
    </div>


    <div class="container mt-5 " style="color: white; " id="anm">
        <h4 class="container text-center ">Connect With Me</h4>
    </div>

    <div class="container pb-5" style="text-align: center;" data-aos="fade-up">
        <a href="https://www.instagram.com/dkd.rohith/" target="blank"><img
                src="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/iPortfolio%2Finstagram.png?alt=media&token=1f69669e-a310-40ab-81c2-b2e060cbd470"
                alt="" style=" padding: 5px; cursor: pointer;" id="instagram"></a>
        <a href="https://www.linkedin.com/in/rohit-4997/" target="blank"><img
                src="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/iPortfolio%2Flinkedin.png?alt=media&token=5e91a25b-3827-405f-ba6e-adf85a60190b"
                alt="" style=" padding: 5px; cursor: pointer;" id="linkedin"></a>
        <a href="https://twitter.com/Rohit4997" target="blank"><img
                src="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/iPortfolio%2Ftwitter.png?alt=media&token=22fe9c05-b2b4-4ef3-ad33-a52e48e8fa50"
                alt="" style=" padding: 5px; cursor: pointer;" id="twitter"></a>
        <a href="https://github.com/Rohit4997" target="blank"><img
                src="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/iPortfolio%2Fgithub.png?alt=media&token=3c2dda69-ea7c-4521-871d-f2d2915df664"
                alt="" style=" padding: 5px; cursor: pointer;" id="github"></a>
    </div>



</section>