<section id="home" class="your-div">
    <div>
      <span>
         <blockquote class="blockquote text-center p-5" style="font-weight: 700; color: white; font-size: xx-large; text-align: center; " data-aos="zoom-in">
            <p class="mb-0">Get Gym Equipments And Home Gym</p>
          </blockquote>
      </span>
   </div>
  </section>

  
 <section style="width: 100%; height: auto; background-color: #f1f1f1; padding-bottom: 40px;">
   <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img
               src="https://www.avonfitnessmachines.com/images/ProductImages/medium/img-25-hoA1638964027.jpg"
               class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
               <h5 class="card-title">Colour Lighting</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">Last updated 3 mins ago</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
         </div>
      </div>
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img
               src="https://www.avonfitnessmachines.com/images/ProductImages/medium/TM-418-Hzx1599740544.png"
               class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Clean Washroom</h5>
               <p class="card-text">This is a short card.</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">Last updated 3 mins ago</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
         </div>
      </div>
      <div class="col p-5 ">
         <div class="card h-100 border-dark" >
            <img
               src="https://www.avonfitnessmachines.com/assets/images/MG-1145.png"
               class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Updated Equipments</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
            </div>
            <div class="card-footer text-white bg-dark">
               <small class="">Last updated 3 mins ago</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
         </div>
      </div>
   </div>
</section>


  <app-footer></app-footer>