<section id="home" class="your-div">
   <div>
      <span>
         <blockquote class="blockquote text-center p-5"
            style="font-weight: 700; color: white; font-size: xx-large; text-align: center; " data-aos="zoom-in">
            <p class="mb-0">Get Gym Equipments And Home Gym</p>
         </blockquote>
      </span>
   </div>
</section>


<section class="w-auto h-auto pb-2 overflow-hidden" style=" background-color: #f1f1f1;">
   <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img src="https://m.media-amazon.com/images/I/61758lEkxjL._AC_UL480_FMwebp_QL65_.jpg"
               class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
               <h5 class="card-title">Exercise Bands</h5>
               <p class="card-text">JAYVACHHRAJ Resistance Exercise Bands with Door Anchor, Handles, Waterproof Carry Bag, Legs Ankle Straps for Resistance Training, Physical Therapy, Home Workouts, Resistance Band.</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">M.R.P.:₹399.00</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img src="https://m.media-amazon.com/images/I/81Ce-heve+L._AC_UL480_FMwebp_QL65_.jpg"
               class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
               <h5 class="card-title">Home Gym Set</h5>
               <p class="card-text">Lifelong PVC Home Gym Set 10kg -20kg Plate with Extension Barbell Rod and Dumbbells Rods with Gym Accessories for Home Workouts; Fitness at Home</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">M.R.P.:₹1299</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img src="https://m.media-amazon.com/images/I/81hm9RPMifS._AC_UL480_FMwebp_QL65_.jpg"
               class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
               <h5 class="card-title">Spring Tummy Trimmer</h5>
               <p class="card-text">LIVOX Double Toning Resistance Tube and Double Spring Tummy Trimmer with Push up Bar Stand abs Workout Equipment for Home Workout, Gym Exersise Equipment for Men and Women Full Body Exercise kit</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">M.R.P.:₹1299</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img src="https://m.media-amazon.com/images/I/51wLguhjomL._AC_UL480_FMwebp_QL65_.jpg"
               class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
               <h5 class="card-title">Home Gym Combo</h5>
               <p class="card-text">SX Fitness Home Gym Combo, Home Gym Set, Gym Equipment Set, PVC (8-24Kg),Fitness Set, with 3ft Curl Rod + One Pair Dumbbell Rods, Weight Plates, Home Gym Kit with Accessories</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">M.R.P.:₹1099</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img src="https://m.media-amazon.com/images/I/81yzAmT24lL._AC_UL480_QL65_.jpg"
               class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Home gym Pro set</h5>
               <p class="card-text">This is a short card.</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">Last updated 3 mins ago</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col p-5 ">
         <div class="card h-100 border-dark">
            <img src="https://m.media-amazon.com/images/I/41FjzHxSJPL._AC_UL480_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Updated Equipments</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
            </div>
            <div class="card-footer text-white bg-dark">
               <small class="">Last updated 3 mins ago</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
               </div>
            </div>
         </div>
      </div>
   </div>






   <app-marque></app-marque>
</section>


<app-footer></app-footer>