<section id="home" class="your-div">
   <div>
      <span>
         <blockquote class="blockquote text-center p-5"
            style="font-weight: 700; color: white; font-size: xx-large; text-align: center; " data-aos="zoom-in">
            <p class="mb-0">Get all the suppliments at best prize</p>
         </blockquote>
      </span>
   </div>
</section>


<section class="overflow-hidden" style="width: 100%; height: auto; background-color: #f1f1f1; padding-bottom: 40px;">
   <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img
               src="https://img7.hkrtcdn.com/16989/prd_1698896-MuscleBlaze-Biozyme-Performance-Whey-4.4-lb-Rich-Chocolate_c_s.jpg"
               class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
               <h5 class="card-title">Whey Protien</h5>
               <p class="card-text">MuscleBlaze Biozyme Performance Whey, Labdoor USA Certified (Rich Chocolate, 1 kg ) with Shaker, 650 ml (Combo Pack)</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">MRP. 2299/-</small>
            </div>
         </div>
      </div>
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <img
               src="https://img4.hkrtcdn.com/11957/prd_1195643-MuscleBlaze-Super-Gainer-XXL-11-lb-Chocolate_c_s.jpg"
               class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">MuscleBlaze Chocolate</h5>
               <p class="card-text">MuscleBlaze Whey Performance (Chocolate, 1 kg / 2.2 lb, 27 Servings)</p>
            </div>
            <div class="card-footer bg-dark text-white">
               <small class="">MRP. 2099/-</small>
            </div>
         </div>
      </div>
      <div class="col p-5 ">
         <div class="card h-100 border-dark" >
            <img
               src="https://img2.hkrtcdn.com/11963/prd_1196281-MuscleTech-NitroTech-Performance-Series-4-lb-Milk-Chocolate_c_s.jpg"
               class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">MuscleTech</h5>
               <p class="card-text">MuscleTech Performance Series Nitro Tech |30g Protein & 2g Sugar |With Creatine Monohydrate, BCAA & Glutamine & Precursors| Protein Supplement for Women & Men| 2.2 lbs (998g) |Milk Chocolate Flavour</p>
            </div>
            <div class="card-footer text-white bg-dark">
               <small class="">MRP :3499/-</small>
            </div>
         </div>
      </div>
   </div>
</section>



<div id="carouselExampleInterval" class="carousel slide h-50 p-2 overflow-hidden" data-bs-ride="carousel" style="background-color: rgb(125, 133, 84);">
   <div class="carousel-inner  p-5">
     <div class="carousel-item active " data-bs-interval="2000">
       <img src="https://img10.hkrtcdn.com/9815/prd_981429-MuscleBlaze-BCAA-Gold-811-0.99-lb-Raspberry-Lemonade_c_s.jpg" class="d-block  img-thumbnail rounded mx-auto " alt="...">
       <div class="d-flex align-items-sm-center flex-column" >
         <h5>Whey Protien</h5>
         <p>MuscleBlaze Biozyme Performance Whey, Labdoor USA Certified (Rich Chocolate, 1 kg ) with Shaker, 650 ml (Combo Pack)</p>
       </div>
     </div>
     <div class="carousel-item" data-bs-interval="1000">
       <img src="https://img9.hkrtcdn.com/1723/prd_172208_c_s.jpg" class="d-block img-thumbnail rounded mx-auto d-block" alt="...">
       <div class="d-flex align-items-sm-center flex-column">
         <h5>MuscleBlaze Chocolate</h5>
         <p>MuscleBlaze Whey Performance (Chocolate, 1 kg / 2.2 lb, 27 Servings)</p>
       </div>
     </div>
     <div class="carousel-item" data-bs-interval="500">
       <img src="https://img7.hkrtcdn.com/16989/prd_1698896-MuscleBlaze-Biozyme-Performance-Whey-4.4-lb-Rich-Chocolate_c_s.jpg" class="d-block  img-thumbnail rounded mx-auto d-block" alt="...">
       <div class="d-flex align-items-sm-center flex-column">
         <h5>TechMuscle Chocolate</h5>
         <p>Some representative placeholder content for the first slide.</p>
       </div>
     </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div>


<app-marque ></app-marque>

 

<app-footer></app-footer>