<section style="width: 100%; height: auto; background: #353D47;" id="skills">
    <div class="container py-5">
        <h1 class="text-center py-5" style="color: white;">Skills</h1>
        <div class="card w-90 " style="background: #1A202C; color: white;" data-aos="flip-right">
            <div class="card-body">
                <h5 class="card-title">HTML/CSS</h5>
                <p class="card-text">The basic languages for developing a website.</p>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="95"
                        aria-valuemin="0" aria-valuemax="100" id="html">95%</div>
                </div>
            </div>
        </div>

        <div class="card w-90 mt-5" style="background: #1A202C; color: white;" data-aos="flip-right">
            <div class="card-body">
                <h5 class="card-title">ReactJS/AngularJS</h5>
                <p class="card-text">Using these two most popular javascript frameworks for developing webistes.</p>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100" id="react">80%</div>
                </div>
            </div>
        </div>

        <div class="card w-90 mt-5 " style="background: #1A202C; color: white;" data-aos="flip-right">
            <div class="card-body">
                <h5 class="card-title">Bootstrap</h5>
                <p class="card-text">Bootstrap is the most popular CSS Framework for developing responsive and mobile-first websites</p>
                <div class="progress" >
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" id="bootstrap">75%</div>
                </div>
            </div>
        </div>

        <div class="card w-90 mt-5" style="background: #1A202C; color: white;" data-aos="flip-right">
            <div class="card-body">
                <h5 class="card-title">NodeJS</h5>
                <p class="card-text">Using nodeJs since last six months for developing websites</p>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" id="node">70%</div>
                </div>
            </div>
        </div>

        <div class="card w-90 mt-5" style="background: #1A202C; color: white;" data-aos="flip-right">
            <div class="card-body">
                <h5 class="card-title">Android</h5>
                <p class="card-text">Building android apps with the Android Studio IDE</p>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100" id="node">80%</div>
                </div>
            </div>
        </div>

        <div class="card w-90 mt-5" style="background: #1A202C; color: white;" data-aos="flip-right">
            <div class="card-body">
                <h5 class="card-title">Ethical Hacking</h5>
                <p class="card-text">Learning new things in this field. Penetration testing on web applications using Burpsuite</p>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" id="node">70%</div>
                </div>
            </div>
        </div>



    </div>
</section>