<section id="home" class="your-div">
   <div>
      <span>
         <blockquote class="blockquote text-center p-5"
            style="font-weight: 700; color: white; font-size: xx-large; text-align: center; " data-aos="zoom-in">
            <p class="mb-0">Feedbacks Provided By Our Clients</p>
         </blockquote>
      </span>
   </div>
</section>


<section style="width: 100%; height: auto; background-color: #f1f1f1; padding-bottom: 40px;">
   <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
      <div class="col p-5 ">
         <div class="card h-100 border-dark">
            <div class="card-footer text-white bg-dark">
               <small class="">Last updated 2 mins ago</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <img
               src="https://images.unsplash.com/photo-1580977345188-0f9997ed457f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
               class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Rohit dhaker</h5>
               <p class="card-text">Best gym in the town with all the premium facilities</p>
            </div>

         </div>
      </div>
      <div class="col p-5">
         <div class="card h-100 border-dark">
            <div class="card-footer bg-dark text-white">
               <small class="">Last updated 5 mins ago</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <img
               src="https://images.unsplash.com/photo-1580977345188-0f9997ed457f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
               class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Clean Washroom</h5>
               <p class="card-text">This is a short card.</p>
            </div>

         </div>
      </div>
      <div class="col p-5 ">
         <div class="card h-100 border-dark">
            <div class="card-footer text-white bg-dark">
               <small class="">Last updated 1 hr ago</small>
               <div class="spinner-grow spinner-border float-end" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <img
               src="https://images.unsplash.com/photo-1580977345188-0f9997ed457f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
               class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Updated Equipments</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
            </div>

         </div>
      </div>
   </div>
</section>


<app-footer></app-footer>