<section style="width: 100%; height: auto; background-image: url(https://images.unsplash.com/photo-1434596922112-19c563067271?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); background-repeat: no-repeat; background-size: cover;" id="contact">
    <div class="container pt-5 " style="color: white;">
        <h1 class="text-center py-5" style="color: white;">Contact Us</h1>
        <div class="row">
            <div class="col pt-3 mb-5 mx-5" data-aos="zoom-in-right" id="my-contact">
                <h4 class="" style="margin-left: 15px;">Our Contact</h4>
              
                <hr>
                <p style="margin-left: 15px;">
                    Owner : Arjun kumar dhaker<br>

                    Phone no.: +91-8875565063<br>

                    City : Bhilwara<br>

                    State : Rajasthan<br>

                    Country : India<br>

                    Email : asquare5063@gmail.com<br>
                    



                </p>
                <!-- <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_9unpvaft.json"
                        background="transparent" speed="1" style="width: 300px; height: 300px;" loop controls autoplay>
                    </lottie-player> -->
            </div>
            <div class="col mx-5 mb-5 p-3" id="contact-form" data-aos="zoom-in-left">
                <h4 class="" style="margin-left: 15px;">Reach Out</h4>
               

                <hr>
            
                <!-- <form class="needs-validation" action="https://formsubmit.co/rohitrkd4997@gmail.com" method="POST">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Your name</label>
                            <input type="text" class="form-control" id="validationCustom01" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="validationCustomUsername">Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                </div>
                                <input type="text" class="form-control" id="validationCustomUsername"
                                    aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    Please enter Email.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom03">City</label>
                            <input type="text" class="form-control" id="validationCustom03" required>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="validationCustom05">Message</label> <br>
                            <textarea type="text">
                            </textarea>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form> -->
                <form action="https://formsubmit.co/asquare5063@gmail.com" method="POST" >
                    <input type="text" name="Name" required class="mb-3 formsubmit p-2" placeholder="Your Name"> <br>
                    <input type="email" name="Email" required class="mb-3 formsubmit p-2" placeholder="Your Email"> <br>
                    <input type="text" name="Mobile" required class="mb-3 formsubmit p-2" placeholder="Your Mobile"> <br>
                    <textarea type="text" name="Message" required class="mb-3 formsubmit p-2" placeholder="Message"></textarea> <br>
                    <input type="hidden" name="_next" value="https://asquaregym.netlify.app/">
                    <input type="hidden" name="_captcha" value="false">
                    <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>