#my-contact{
    height: auto; width: 40%; background: rgba(46, 42, 42, 0.342);
    border-radius: 5px;
}
#contact-form{
    height: auto; width: 40%; background: rgba(46, 42, 42, 0.342);
    border-radius: 5px;
    
}

@media (max-width:768px)
{
    #my-contact{
        width: 70%;
    }
    #contact-form{
        width: 70%;
       
    }
}

.formsubmit{
    border-radius: 4px;
    margin-left: 10px;
}