#load{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-size: 10px;
    background-color: #0d161f;
    display: block;
}

.loader{
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-inner{
    width: 100%;
    height: 100%;
    border: 1rem solid #162534;
    border-radius: 50%;
    border-top-color: #09f;
    border-bottom-color: #09f;
    animation: rotate 3s linear infinite;
}

@keyframes rotate{
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.5) rotate(-360deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}
