<section id="home" class="your-div">
    <div>
      <span>
         <blockquote class="blockquote text-center p-5" style="font-weight: 700; color: white; font-size: xx-large; text-align: center; " data-aos="zoom-in">
            <p class="mb-0">Here is your personal trainer</p>
          </blockquote>
      </span>
   </div>
  </section>

  <section class="overflow-hidden"
    style="width: 100%; height: auto; background-color: #d8d2e4; padding-bottom: 40px;"
    id="contact">
    <div class="container p-5 " >
        <div class="row">
            <div class="col p-3 mx-5 " data-aos="zoom-in-right" id="my-contact" style="background-color: #1f1d1d1c; border-radius: 10px;
            ">
              <h1 style="text-align: center;" >Arjun Dhaker </h1>
                <p style="margin-left: 15px; font-weight: 800; text-align: center;" class="p-3">
                    Arjun kumar dhaker is a certified personal (fitness) trainer with the experience of 6 years.<br>
                    Private Fitness Coach / Strengthening Muscular / Agility & endurance / all levels / indoors or outdoors.
                    He is also a certified nutrition and suppliment counselor.

                </p>
            </div>
            <div class="col mx-5  p-3" id="contact-form" data-aos="zoom-in-left" style="background-color: #46414156; border-radius: 10px;">
                <img src="https://firebasestorage.googleapis.com/v0/b/videocall-993ca.appspot.com/o/gym%2F0ea439f8-71a9-44c7-8f04-d6c799373c20.jpg?alt=media&token=4af40cf6-703e-4b67-9fd4-da582e55763f" width="auto" height="400" style="image-rendering: auto;">
            </div>
        </div>
    </div>
    <app-marque></app-marque>
</section>
<app-footer></app-footer>