<section  id="about">
    <div class="container pt-5 " style="color: white;">
        <div class="row">
            <div class="col my-5 mx-5"  data-aos="fade-right" id="about-me">
                <h4 style="margin-left: 15px; padding-top: 20px;">About Me:</h4>
                <hr>
                <p style="margin-left: 15px; ">
                    Welcome to my Arena<br>

                    My name is Rohit Kumar<br>

                    I am in currently 3nd year of Engineering<br>
                    Obviously my work of domain is computer science<br>
                    Failed to compile. ®<br>

                    -/src/components/About .<br>

                    Tip Error :<br>

                    $<br>

                    I had a joke about variables |<br>

                    Ok! Back to Introduction<br>

                    $<br>

                    I have some apps float on|<br>

                    I have a strong hand in advance CSS/Javascript<br>
                    I love to play with React renderers DOM<br>
                    Compiled with warnings<br>

                    src/App.js<br>

                    Type any warning below if you want just for time pass@<br>
                    $

                </p>
            </div>
            <div class="col mx-5 my-5"  data-aos="fade-left" id="languages">
                <h4 style="margin-left: 15px; padding-top: 20px;">Technologies Known:</h4>
                <hr>
                <p style="margin-left: 15px;">
                    &lt;JavaScript /&gt;<br>

                    &lt;C /C++ /&gt;<br>

                    &lt;Python /&gt;<br>

                    &lt;Java /&gt;<br>

                    &lt;Kotlin /&gt;<br>

                    &lt;Php /&gt;<br>

                    &lt;Html /&gt;<br> <br>



                    Technologies in Web...<br>

                    React, Angular<br>

                    TypeScript/Javascript<br>
                    Bootstrap<br>
                    NodeJS, MongoDB<br>
                </p>
            </div>
        </div>
    </div>

   
</section>