<section  id="about">
    <div class="container pt-5 " style="color: white;">
        <div class="row">

            <div class=" ">
                <h2 class="container-fluid d-flex justify-content-center" style="color: black; font: bold ; font-family: -Roboto; font-weight: 900;">Become Perfect</h2>
            <h2 class="container-fluid d-flex justify-content-center " style="color: rgb(151, 95, 10);">With Our Workout Plans</h2>
            </div>


            <div class="col my-5 mx-5"  data-aos="fade-right" id="languages">
                <img src="https://goldsgym.in/uploads/home_icons/Website_Personal.png">
                <h6>Exploring Gyms</h6>
            </div>
            <div class="col mx-5 my-5"  data-aos="fade-right" id="languages">
                <img src="https://goldsgym.in/uploads/home_icons/Corporate.png" alt="">
                <h6>Connecting Towns</h6>
            </div>
            <div class="col mx-5 my-5"  data-aos="fade-down" id="languages">
                <img src="https://goldsgym.in/uploads/home_icons/Corporate.png" alt="">
                <h6>Personal Training Program</h6>
            </div>
            <div class="col mx-5 my-5"  data-aos="fade-left" id="languages">
                <img src="https://goldsgym.in/uploads/home_icons/Corporate.png" alt="">
                <h6>Corporate Wellness Program</h6>
            </div>
            <div class="col mx-5 my-5"  data-aos="fade-left" id="languages">
                <img src="https://goldsgym.in/uploads/home_icons/Corporate.png" alt="">
                <h6>Group Program</h6>
            </div>
            
        </div>
    </div>

   
</section>