<section style="width: 100%; height: auto; background: #42253e;" id="skills">
  <div class="container ">
    <h1 class="container py-5" style="color: white; text-align: center; align-items: center;">Achievements And Certifications</h1>
    <hr>

    <div class="container-fluid d-flex justify-content-center" data-aos="fade-right" style="width: 60%; height: 60vh;">
      <img class="card-img"
        src="https://media-exp1.licdn.com/dms/image/C5622AQEQvI7vyaXGEQ/feedshare-shrink_2048_1536/0/1626433641153?e=1643846400&v=beta&t=x5UK3sRMMsYJyZPkdDD38q9muPpKu42fj6en6RkTLc8"
        alt="Card image" >
      <div class="card-img-overlay">
        
      </div>
    </div>

    <div class="mt-5 container-fluid d-flex justify-content-center" data-aos="fade-left" style="width: 60%; height: 60vh;">
      <img class="card-img"
        src="https://media-exp1.licdn.com/dms/image/C5622AQHQt5UCnKDUWA/feedshare-shrink_2048_1536/0/1610985388872?e=1643846400&v=beta&t=OTaJoNCabZkPxRamaWDG_35hlSN_o7OLw1m7N5jwBKU"
        alt="Card image">
      <div class="card-img-overlay">
        
      </div>
    </div>

    <div class="mt-5 container-fluid d-flex justify-content-center" data-aos="fade-right" style="width: 50%; height: 60vh;">
      <img class="card-img"
        src="https://trainings.internshala.com/uploads/certificates/COC-76E3A281-DBD3-F12A-A361-C10DCDF21303.jpg"
        alt="Card image">
      <div class="card-img-overlay">
        
      </div>
    </div>

    <div class="mt-5 container-fluid d-flex justify-content-center" data-aos="fade-left" style="width: 50%; height: 60vh;">
      <img class="card-img"
        src="https://media-exp1.licdn.com/dms/image/C5622AQHKtWAmNDLxfA/feedshare-shrink_800/0/1610431004786?e=1643846400&v=beta&t=Bv86khzceu-T2JNVfEw7f5hfZGnqij1xVEcppYq99pg"
        alt="Card image">
      <div class="card-img-overlay">
        
      </div>
    </div>



  </div>



</section>